<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

        <!-- development key for eatj - http://chuck113.s156.eatj.com/wmt/ -->
  <context-param>
    <param-name>GoogleMapsKey</param-name>
    <param-value>ABQIAAAAANyf_1x1i_h8KT1GEqKZvxTonI1Byb69jl2Xcwf0QcafJZEPvxQT_819qCONXUsDZPjMS0_i1Zf4OQ</param-value>
  </context-param>


   <display-name>wmt servlet</display-name>
   <!-- Application class name -->
   <context-param>
      <param-name>org.restlet.application</param-name>
      <param-value>
         com.where.web.WmtRestApplication
      </param-value>
   </context-param>

   <!-- Restlet adapter -->
   <servlet>
      <servlet-name>RestletServlet</servlet-name>
      <servlet-class>
         com.noelios.restlet.ext.servlet.ServerServlet
      </servlet-class>
   </servlet>

   <!-- Catch all requests -->
   <servlet-mapping>
      <servlet-name>RestletServlet</servlet-name>
      <url-pattern>/rest/*</url-pattern>
   </servlet-mapping> 
</web-app>
