body {
    font: 80% arial, helvetica, sans-serif;
    margin: 0;
}

#liveInfo {
    font: 90% arial, helvetica, sans-serif;
    color: black
}

h1, h2 {
    margin: 5;
}

#navigation {
    float: right;
    width: 300px;
    margin: -3px;
}

#content {
    margin-right: 300px;
}

#footer-old {
    clear: both;
}

#footer {
   position: absolute;
   bottom: 0px;
   height:70px;   /* Height of the footer */
   background:white;
   font-size:10px;
}

table.status{
    border-collapse:collapse;
    border-color: black;
    border:1px solid black;
}