body {
    font: 80% arial, helvetica, sans-serif;
    height:100%;
    margin: 0;
}

#liveInfo {
    font: 90% arial, helvetica, sans-serif;
    color: black
}

h1, h2 {
    margin: 5;
}

#navigation-wrapper {
    border: 5px white solid;"
}
#navigation {
    float: right;
    width: 300px;
    height: 100%;
}

#content {
    margin-right: 300px;
}

#footer {
   position: absolute;
   border-top: 1px solid #ccc;
   text-align: center;
   bottom: 0px;
   height:35px;   /* Height of the footer */
   background:white;
   font-size:11px;
   width: 280px;
}

table.status{
    border-collapse:collapse;
    border-color: black;
    border:1px solid black;
}