/* HI-CONTRAST STYLE SHEET */
/* An alternative style sheet that presents the page in yellow on black */ 

#container,
#help-and-search,
#microsite-tools,
#branding,
#corporate-links,
#local-navigation #current-section a,
#local-navigation #current-section dl dd a,
#local-navigation #current-section dl,
#global-navigation,
#global-navigation dd,
#global-navigation dd#nav-business-and-partners,
#global-navigation dd#nav-corporate,
.live-travel-news #global-navigation dd#nav-live-travel-news,
.getting-around #global-navigation dd#nav-getting-around,
.tickets #global-navigation dd#nav-tickets,
.road-users #global-navigation dd#nav-road-users,
.corporate #global-navigation dd#nav-corporate,
.business-and-partners #global-navigation dd#nav-business-and-partners,
.pullquote p,
.pullquote .cite,
p,
p.teaser,
a,
#modal-header,
h1,
input,
input.button,
select,
.border,
.captioned-image,
#supporting-content .styled,
#supporting-content .styled legend,
#supporting-content dt,
#supporting-content h2,
.banner,
.big-banner,
.borderless-banner,
.landing-page-nav,
form,
textarea{
  	background-image: none !important;
  	background-color: #000 !important;
  	color: #FFF300 !important;
}
.pullquote p{
	text-indent: 0;
}
input,
select,
input.button{
	border: 1px solid #FFF300 !important;
}
.border,
.banner img,
.big-banner{
	border-color: #FFF300;
}
#global-navigation dd a{
	border: 1px solid #FFF300;
	border-right: 0 solid;
	border-left: 0 solid;
}
#local-navigation a{
	border-top: 1px solid #000;
  	background-image: none;
}
#local-navigation #current-section dl dd a,
#main-content h1,
#supporting-content dt,
#supporting-content h2{
	border-bottom: 1px solid #000 !important;
}
#branding{
  	background-image:  url(../images/logo-hi-contrast.gif);
}
body{
  	background-image: url(../images/page-background-hi-contrast.gif);
}
a{
  	text-decoration: underline;
}
a:hover,
#local-navigation #current-section a:hover{
  	text-decoration: none;
  	color: #000 !important;
  	background-color: #FFF300 !important;
}