/* ========================================================

   PRINT STYLES
   
    */

body{
  	font-size: 10pt;
  	font-family:Arial, Helvetica, sans-serif
}
h1{
	font-size: 1.5em;
}
#branding{
	padding: 1em 0;
	font-size: 1em;
	margin-bottom: 2em;
}
#branding p{
	width: 100%;
}
#branding img{
	display: inline;
	vertical-align: middle;
	margin-right: 10px;
}	
.no-print,
#help-and-search,
#supporting-content img,
#navigation-header,
#local-navigation,
#global-navigation,
#corporate-links,
#jpForm,
#microsite-tools{
	display: none !important;
}
#container,
#main-content,
#supporting-content{
	border: 0 !important;
	margin: 0 !important;
	padding:0 !important;
	width: auto !important;
	float: none !important;
}
#supporting-content a{
	color: #666;
}
#supporting-content a:link:after, #supporting-content  a:visited:after {
   content: " (" attr(href) ") ";
   font-size: 90%;
   color:#3497D5;
}
/* This is the print stylesheet to hide the Flash headlines from the browser... regular browser text headlines will now print as normal */
.sIFR-flash, .sIFR-flash object, .sIFR-flash embed {
	display: none !important;
	height: 0;
	width: 0;
	position: absolute;
	overflow: hidden;
}
span.sIFR-alternate {
	visibility: visible !important;
	display: block !important;
	position: static !important;
	left: auto !important;
	top: auto !important;
}